In [1]:
# python version  # conda version

In [24]:
pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.11.0-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.6/235.6 kB 5.0 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy>=1.17.3 in /Users/christinegurek/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.21.5)
Collecting joblib>=1.1.1
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 18.1 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.5.0 in /Users/christinegurek/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/christinegurek/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/christinegurek/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.0.2)
Installing collected packages: joblib, imbalanced-learn, imblearn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.11.0 imblearn-0.0 joblib-1.3.2
Note: you may need to restart the kernel to use updated packages.

In [49]:
import pandas as pd #version 1.4.4
import sklearn as skl #version 1.0.2
import pandas_profiling as pp #version 3.6.6
import numpy as np #version 1.21.5
import matplotlib.pyplot as plt #version 3.5.2
import warnings as ww

from sklearn.model_selection import train_test_split #version 1.0.2
from sklearn.linear_model import LogisticRegression #version1.0.2
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis #version 1.0.2
from sklearn import metrics #version 1.0.2
from sklearn.metrics import accuracy_score #version 1.0.2
from sklearn.metrics import precision_score #version 1.0.2
from sklearn.metrics import recall_score #version 1.0.2
from sklearn.metrics import confusion_matrix #version 1.0.2
from sklearn.metrics import roc_auc_score #version 1.0.2
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
ww.filterwarnings("ignore")

%matplotlib inline

In [7]:
original_data = pd.read_csv("/Users/christinegurek/Desktop/GitHub/DATA-300-Statistical-Machine-Learning-Fall-2023-/Data/loan_default_data_set.csv")
original_data

,tot_balance,avg_bal_cards,credit_age,credit_age_good_account,credit_card_age,num_acc_30d_past_due_12_months,num_acc_30d_past_due_6_months,num_mortgage_currently_past_due,tot_amount_currently_past_due,num_inq_12_month,...,num_card_12_month,num_auto_ 36_month,uti_open_card,pct_over_50_uti,uti_max_credit_line,pct_card_over_50_uti,ind_XYZ,rep_income,rep_education,Def_ind
0,102956.11010,14819.057400,238,104,264,0,0,0,0.000000,0,...,1,0,0.366737,0.342183,0.513934,0.550866,0,118266.32130,college,0
1,132758.72580,18951.934550,384,197,371,0,0,0,0.000000,0,...,0,0,0.490809,0.540671,0.418016,NaN,0,89365.05765,college,0
2,124658.91740,15347.929690,277,110,288,0,0,0,0.000000,0,...,0,0,0.359074,0.338560,0.341627,0.451417,0,201365.12130,college,0
3,133968.53690,14050.713340,375,224,343,0,0,0,0.000000,2,...,1,0,0.700379,0.683589,0.542940,0.607843,0,191794.48550,college,0
4,143601.80170,14858.515270,374,155,278,0,0,0,0.000000,0,...,0,0,0.647351,0.510812,0.632934,0.573680,0,161465.36790,graduate,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,89665.13930,11521.159950,319,139,363,0,0,0,0.000000,0,...,0,0,0.535628,0.634712,0.527230,0.602345,0,NaN,high_school,0
19996,136211.63530,17977.054130,297,137,273,0,0,0,0.000000,2,...,0,0,0.464774,0.450030,0.545108,NaN,1,NaN,high_school,0
19997,110721.87650,13316.820540,304,151,257,0,0,0,0.000000,0,...,0,0,0.264544,0.340289,0.412155,NaN,0,157706.15810,college,0
19998,96742.36371,11743.262370,275,141,294,2,1,1,3009.387661,0,...,0,0,0.609226,0.582007,0.301612,0.697052,1,97387.97414,college,1
19999,107338.82070,7942.952546,325,195,302,0,0,0,0.000000,0,...,0,0,0.358067,0.435511,0.349246,NaN,0,165447.16380,college,0

In [14]:
by_class = original_data.groupby('Def_ind')
defaulted = by_class.get_group(1)
not_defaulted = by_class.get_group(0)

,tot_balance,avg_bal_cards,credit_age,credit_age_good_account,credit_card_age,num_acc_30d_past_due_12_months,num_acc_30d_past_due_6_months,num_mortgage_currently_past_due,tot_amount_currently_past_due,num_inq_12_month,...,num_card_12_month,num_auto_ 36_month,uti_open_card,pct_over_50_uti,uti_max_credit_line,pct_card_over_50_uti,ind_XYZ,rep_income,rep_education,Def_ind
0,102956.1101,14819.057400,238,104,264,0,0,0,0.0,0,...,1,0,0.366737,0.342183,0.513934,0.550866,0,118266.32130,college,0
1,132758.7258,18951.934550,384,197,371,0,0,0,0.0,0,...,0,0,0.490809,0.540671,0.418016,NaN,0,89365.05765,college,0
2,124658.9174,15347.929690,277,110,288,0,0,0,0.0,0,...,0,0,0.359074,0.338560,0.341627,0.451417,0,201365.12130,college,0
3,133968.5369,14050.713340,375,224,343,0,0,0,0.0,2,...,1,0,0.700379,0.683589,0.542940,0.607843,0,191794.48550,college,0
4,143601.8017,14858.515270,374,155,278,0,0,0,0.0,0,...,0,0,0.647351,0.510812,0.632934,0.573680,0,161465.36790,graduate,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19993,123398.8534,12685.051170,410,219,411,0,0,0,0.0,0,...,0,0,0.598732,0.341668,0.625128,0.601800,1,159783.36620,college,0
19995,89665.1393,11521.159950,319,139,363,0,0,0,0.0,0,...,0,0,0.535628,0.634712,0.527230,0.602345,0,NaN,high_school,0
19996,136211.6353,17977.054130,297,137,273,0,0,0,0.0,2,...,0,0,0.464774,0.450030,0.545108,NaN,1,NaN,high_school,0
19997,110721.8765,13316.820540,304,151,257,0,0,0,0.0,0,...,0,0,0.264544,0.340289,0.412155,NaN,0,157706.15810,college,0
19999,107338.8207,7942.952546,325,195,302,0,0,0,0.0,0,...,0,0,0.358067,0.435511,0.349246,NaN,0,165447.16380,college,0

In [36]:
defaulted_b = resample(defaulted, random_state=7, n_samples = 16000, replace=True )
defaulted_b

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16000 entries, 1855 to 1658
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tot_balance                      16000 non-null  float64
 1   avg_bal_cards                    16000 non-null  float64
 2   credit_age                       16000 non-null  int64
 3   credit_age_good_account          16000 non-null  int64
 4   credit_card_age                  16000 non-null  int64
 5   num_acc_30d_past_due_12_months   16000 non-null  int64
 6   num_acc_30d_past_due_6_months    16000 non-null  int64
 7   num_mortgage_currently_past_due  16000 non-null  int64
 8   tot_amount_currently_past_due    16000 non-null  float64
 9   num_inq_12_month                 16000 non-null  int64
 10  num_card_inq_24_month            16000 non-null  int64
 11  num_card_12_month                16000 non-null  int64
 12  num_auto_ 36_month               16000 non-null  int64
 13  uti_open_card                    16000 non-null  float64
 14  pct_over_50_uti                  16000 non-null  float64
 15  uti_max_credit_line              16000 non-null  float64
 16  pct_card_over_50_uti             14685 non-null  float64
 17  ind_XYZ                          16000 non-null  int64
 18  rep_income                       14774 non-null  float64
 19  rep_education                    16000 non-null  object
 20  Def_ind                          16000 non-null  int64
dtypes: float64(8), int64(12), object(1)
memory usage: 2.7+ MB

In [38]:
over_sampled_defaulted = pd.concat([defaulted_b, defaulted])
over_sampled_defaulted

,tot_balance,avg_bal_cards,credit_age,credit_age_good_account,credit_card_age,num_acc_30d_past_due_12_months,num_acc_30d_past_due_6_months,num_mortgage_currently_past_due,tot_amount_currently_past_due,num_inq_12_month,...,num_card_12_month,num_auto_ 36_month,uti_open_card,pct_over_50_uti,uti_max_credit_line,pct_card_over_50_uti,ind_XYZ,rep_income,rep_education,Def_ind
1855,46848.83155,8347.161418,312,169,288,3,1,1,17250.047220,2,...,0,0,0.514084,0.488101,0.499706,0.553833,0,154619.76600,college,1
12253,72961.10494,7124.144631,201,146,216,1,0,0,258.347644,3,...,0,0,0.399851,0.601466,0.390277,0.469696,0,164922.50690,high_school,1
5383,145730.11340,13452.430260,145,94,116,1,0,0,0.000000,1,...,0,0,0.734532,0.692287,0.611596,0.784655,0,198679.56460,college,1
5097,167305.24000,14861.486870,261,149,268,1,0,0,0.000000,3,...,0,0,0.619819,0.638053,0.504725,0.570574,0,199746.64660,college,1
15951,87236.84616,6057.338602,255,155,291,0,0,0,0.000000,0,...,0,0,0.712308,0.690047,0.799142,0.707269,0,112857.38060,college,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19961,101185.23900,8551.413462,344,190,361,1,0,0,0.000000,0,...,0,0,0.517914,0.508975,0.501642,0.630670,0,137004.08820,college,1
19979,101238.81730,12260.749900,148,52,218,0,0,0,0.000000,1,...,1,0,0.902818,0.794570,0.929545,0.984288,1,158403.48710,high_school,1
19984,109717.64730,12295.671170,129,60,226,0,0,0,0.000000,3,...,0,0,0.688392,0.763726,0.816987,0.749705,0,199402.46450,college,1
19994,99102.92799,11033.901590,222,119,259,0,0,0,0.000000,0,...,0,0,0.591720,0.681487,0.631201,0.660454,0,167343.82270,graduate,1
19998,96742.36371,11743.262370,275,141,294,2,1,1,3009.387661,0,...,0,0,0.609226,0.582007,0.301612,0.697052,1,97387.97414,college,1

In [42]:
over_sampled_data = pd.concat([over_sampled_defaulted, not_defaulted])
over_sampled_data

,tot_balance,avg_bal_cards,credit_age,credit_age_good_account,credit_card_age,num_acc_30d_past_due_12_months,num_acc_30d_past_due_6_months,num_mortgage_currently_past_due,tot_amount_currently_past_due,num_inq_12_month,...,num_card_12_month,num_auto_ 36_month,uti_open_card,pct_over_50_uti,uti_max_credit_line,pct_card_over_50_uti,ind_XYZ,rep_income,rep_education,Def_ind
1855,46848.83155,8347.161418,312,169,288,3,1,1,17250.047220,2,...,0,0,0.514084,0.488101,0.499706,0.553833,0,154619.7660,college,1
12253,72961.10494,7124.144631,201,146,216,1,0,0,258.347644,3,...,0,0,0.399851,0.601466,0.390277,0.469696,0,164922.5069,high_school,1
5383,145730.11340,13452.430260,145,94,116,1,0,0,0.000000,1,...,0,0,0.734532,0.692287,0.611596,0.784655,0,198679.5646,college,1
5097,167305.24000,14861.486870,261,149,268,1,0,0,0.000000,3,...,0,0,0.619819,0.638053,0.504725,0.570574,0,199746.6466,college,1
15951,87236.84616,6057.338602,255,155,291,0,0,0,0.000000,0,...,0,0,0.712308,0.690047,0.799142,0.707269,0,112857.3806,college,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19993,123398.85340,12685.051170,410,219,411,0,0,0,0.000000,0,...,0,0,0.598732,0.341668,0.625128,0.601800,1,159783.3662,college,0
19995,89665.13930,11521.159950,319,139,363,0,0,0,0.000000,0,...,0,0,0.535628,0.634712,0.527230,0.602345,0,NaN,high_school,0
19996,136211.63530,17977.054130,297,137,273,0,0,0,0.000000,2,...,0,0,0.464774,0.450030,0.545108,NaN,1,NaN,high_school,0
19997,110721.87650,13316.820540,304,151,257,0,0,0,0.000000,0,...,0,0,0.264544,0.340289,0.412155,NaN,0,157706.1581,college,0
19999,107338.82070,7942.952546,325,195,302,0,0,0,0.000000,0,...,0,0,0.358067,0.435511,0.349246,NaN,0,165447.1638,college,0

In [47]:
not_defaulted_b = resample(not_defaulted, random_state=7, n_samples = 2000, replace=True )
not_defaulted_b

,tot_balance,avg_bal_cards,credit_age,credit_age_good_account,credit_card_age,num_acc_30d_past_due_12_months,num_acc_30d_past_due_6_months,num_mortgage_currently_past_due,tot_amount_currently_past_due,num_inq_12_month,...,num_card_12_month,num_auto_ 36_month,uti_open_card,pct_over_50_uti,uti_max_credit_line,pct_card_over_50_uti,ind_XYZ,rep_income,rep_education,Def_ind
18805,101334.16980,14510.714640,233,114,276,1,0,0,3632.562771,1,...,0,0,0.426818,0.386544,0.333715,0.623259,0,201713.0136,college,0
11918,80133.56007,9875.799388,395,179,370,0,0,0,0.000000,0,...,0,0,0.364719,0.357839,0.092990,0.459671,0,186461.4072,high_school,0
6339,87845.92410,9731.591654,277,148,312,0,0,0,0.000000,0,...,1,0,0.595074,0.466512,0.473781,NaN,0,220363.9194,college,0
998,63206.06575,9013.939394,221,155,285,0,0,0,0.000000,0,...,1,0,0.412030,0.536783,0.543726,NaN,0,123476.6567,high_school,0
15481,122061.65840,10046.839150,386,188,286,0,0,0,0.000000,2,...,0,0,0.433056,0.459339,0.468154,0.566470,0,175396.2828,graduate,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5927,128792.18330,13475.083530,184,121,255,0,0,0,0.000000,0,...,0,0,0.524799,0.462222,0.544587,0.482501,0,161549.3278,college,0
62,111457.62650,10876.990200,347,135,356,0,0,0,0.000000,0,...,0,1,0.547103,0.345732,0.584647,0.576775,0,NaN,high_school,0
6500,110205.92400,14209.655040,109,32,159,0,0,0,0.000000,0,...,0,0,0.525103,0.485255,0.383485,0.646947,0,141626.1053,high_school,0
19403,125781.06540,14216.831070,183,134,254,1,0,0,0.000000,0,...,1,0,0.536947,0.588295,0.490105,0.647932,0,183411.8638,high_school,0
1111,139209.13500,13199.617930,186,107,179,0,0,0,881.014070,0,...,1,1,0.399778,0.465670,0.372042,0.477552,0,131921.9419,high_school,0

In [48]:
under_sampled_data = pd.concat([not_defaulted_b, defaulted])
under_sampled_data

,tot_balance,avg_bal_cards,credit_age,credit_age_good_account,credit_card_age,num_acc_30d_past_due_12_months,num_acc_30d_past_due_6_months,num_mortgage_currently_past_due,tot_amount_currently_past_due,num_inq_12_month,...,num_card_12_month,num_auto_ 36_month,uti_open_card,pct_over_50_uti,uti_max_credit_line,pct_card_over_50_uti,ind_XYZ,rep_income,rep_education,Def_ind
18805,101334.16980,14510.714640,233,114,276,1,0,0,3632.562771,1,...,0,0,0.426818,0.386544,0.333715,0.623259,0,201713.01360,college,0
11918,80133.56007,9875.799388,395,179,370,0,0,0,0.000000,0,...,0,0,0.364719,0.357839,0.092990,0.459671,0,186461.40720,high_school,0
6339,87845.92410,9731.591654,277,148,312,0,0,0,0.000000,0,...,1,0,0.595074,0.466512,0.473781,NaN,0,220363.91940,college,0
998,63206.06575,9013.939394,221,155,285,0,0,0,0.000000,0,...,1,0,0.412030,0.536783,0.543726,NaN,0,123476.65670,high_school,0
15481,122061.65840,10046.839150,386,188,286,0,0,0,0.000000,2,...,0,0,0.433056,0.459339,0.468154,0.566470,0,175396.28280,graduate,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19961,101185.23900,8551.413462,344,190,361,1,0,0,0.000000,0,...,0,0,0.517914,0.508975,0.501642,0.630670,0,137004.08820,college,1
19979,101238.81730,12260.749900,148,52,218,0,0,0,0.000000,1,...,1,0,0.902818,0.794570,0.929545,0.984288,1,158403.48710,high_school,1
19984,109717.64730,12295.671170,129,60,226,0,0,0,0.000000,3,...,0,0,0.688392,0.763726,0.816987,0.749705,0,199402.46450,college,1
19994,99102.92799,11033.901590,222,119,259,0,0,0,0.000000,0,...,0,0,0.591720,0.681487,0.631201,0.660454,0,167343.82270,graduate,1
19998,96742.36371,11743.262370,275,141,294,2,1,1,3009.387661,0,...,0,0,0.609226,0.582007,0.301612,0.697052,1,97387.97414,college,1

In [ ]:
defaulted['rep_education'] = defaulted['rep_education'].replace(['high_school'], '0')
defaulted['rep_education'] = defaulteddefaulted['rep_education'].replace(['college'], '1')
defaulted['rep_education'] = defaulted['rep_education'].replace(['graduate'], '2')
defaulted['rep_education'] = defaulted['rep_education'].replace(['other'], '3')
defaulted

not_defaulted['rep_education'] = not_defaulted['rep_education'].replace(['high_school'], '0')
not_defaulted['rep_education'] = not_defaulted['rep_education'].replace(['college'], '1')
not_defaulted['rep_education'] = not_defaulted['rep_education'].replace(['graduate'], '2')
not_defaulted['rep_education'] = not_defaulted['rep_education'].replace(['other'], '3')
loan_defaults

In [51]:
smote = SMOTE()
X_resampled, y_resampled = SMOTE().fit_resample(defaulted, not_defaulted)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# accuracy metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='micro')
recall = recall_score(y_test, y_pred, average='micro')
print(accuracy)
print(precision)
print(recall)

In [ ]:
# roc/auc curve
probs = model.predict_proba(X_test)
preds = probs[:,1]
fpr, tpr, threshold = metrics.roc_curve(y_test, preds)
roc_auc = metrics.auc(fpr, tpr)

plt.plot(fpr,tpr,'b', label = 'AUC = %0.2f' % roc_auc)
plt.plot([0,1], [0,1], 'r--')
plt.title("ROC and AUC Plot")
plt.legend(loc = 'lower right')
plt.show()